body{
    font-family: "Figtree", sans-serif;
    background-color: #f4d04e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

/* CONTAINER */

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 411px;
    box-shadow: 8px 8px 0 0 black;
    border-width: 1px;
    border-style: solid ;
    border-color: #111;
    border-radius: 20px;
    padding: 20px;
    row-gap: 24px;
}

/* CONTAINER - IMAGE*/

.container-imagen-photo {
    width: 100%;
    border-radius: 20px;    
}

/* CONTAINER - CONTENT*/

.container-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 14px;
}

    /* CONTAINER - CONTENT - LEARNING*/

.container-content-learning{
    background-color: #f4d04e;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 12px;    
}

    /* CONTAINER - CONTENT - PUBLISH*/

.container-content-publish{
    font-size: 12px;
}

    /* CONTAINER - CONTENT - TITLE*/

.container-content-title{
    :hover{
        color: #f4d04e;
        cursor: pointer;
    }
}

.container-content-title h1{
    font-size: 20px;
}

    /* CONTAINER - CONTENT - TEXT*/

.container-content-text p{
    font-size: 14px;
    color: #7f7f7f;
}

/* CONTAINER - AVATAR */

.container-avatar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;

    width: 100%;
    height: 32px;
}

.container-avatar-figure{
    width: 32px;
    height: 100%;
}

.container-avatar-photo{
    background-image: url("../image/image-avatar.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container-avatar-name{
    font-size: 14px;
    font-weight: 800;
}

/* BREAKPOINTS */

@media screen and (min-width: 900px) {
    .container {
        width: 330px;
    }    
}